
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="add-client-container" >
        
        <mat-card-title>Delete Client</mat-card-title>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Delete Client</mat-label>
          <input type="text" matInput placeholder="Client Id" required  appNoSecialChar
          formControlName="deleteClient" >
          <mat-icon matSuffix>people_outline</mat-icon>
        </mat-form-field>
    
        <button mat-button>Delete</button>
       
      </div>
</form> 
    