
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="add-client-container" >
        
        <mat-card style="text-align: center;">Delete Api Resource</mat-card>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Delete Resource</mat-label>
          <input type="text" matInput placeholder="Resource Id" required  appNoSecialChar
          formControlName="deleteClient" >
          <mat-icon matSuffix>people_outline</mat-icon>
        </mat-form-field>
    
        <mat-divider></mat-divider>
        <button mat-button>Delete</button>
        <mat-divider></mat-divider>

       
      </div>
</form> 
    