<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/addClient"> 
        <mat-icon>people_outline</mat-icon>
          <span>Create Client</span>
        </button>
      <button mat-menu-item routerLink="/addResource">
        <mat-icon>videocam</mat-icon>
        <span>Create API Resource</span>
      </button>
      <button mat-menu-item routerLink="/deleteClient">
        <mat-icon>people_outline</mat-icon>
        <span>Delete Client</span>
      </button>
      <button mat-menu-item routerLink="/deleteResource">
        <mat-icon>people_outline</mat-icon>
        <span>Delete Resource</span>
      </button>
      <button mat-menu-item routerLink="/addClientScopes">
        <mat-icon>people_outline</mat-icon>
        <span>Create Client Scopes</span>
      </button>
      <button mat-menu-item routerLink="/addClientRedirectUris">
        <mat-icon>people_outline</mat-icon>
        <span>Create Client Redirect Uris</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space"> {{title}} </span>
</mat-toolbar>