
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="add-client-container" >
            
            <mat-card style="text-align: center;">Api Resources represents microservices among which communication happens so that Clients can request tokens from identityserver.</mat-card>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Resource Name</mat-label>
              <input type="text" matInput placeholder="application.api" required  appNoSecialChar
              formControlName="name" class="form-control" >
              <mat-icon matSuffix>people_outline</mat-icon>
            </mat-form-field>
        
        
            <mat-form-field appearance="outline" hideRequiredMarker>
              <mat-label>Resource Description</mat-label>
              <input matInput placeholder="AccuV Application API" required 
              formControlName="description" class="form-control">
              <mat-icon matSuffix>people_outline</mat-icon>
            </mat-form-field>
        
            <mat-divider></mat-divider>
            <button mat-button>Register</button>
            <mat-divider></mat-divider>

          </div>
  </form> 
        